    .node {
      cursor: pointer;
    }

    .node circle {
      fill: #c5d9c9;
      stroke: #53825c;
      stroke-width: 3px;
    }

    .node text {
      font: 12px sans-serif;
    }

    .link {
      fill: none;
      stroke: #ccc;
      stroke-width: 1px;
    }

    #d3_object {
      width: 100%;
      margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    #includedContent {
      position: static !important;
      display: block;
    }
