{% comment %}                                                                                                                                         
  Generates JSON data for the adventure map from posts with coordinates                                                                                 
  {% endcomment %}                                                                                                                                      
  <script>                                                                                                                                              
  var adventureData = [                                                                                                                                 
  {% for post in site.posts %}                                                                                                                          
    {% if post.latitude %}
    {% if post.categories contains 'climb_log' %}
      {% assign activity = "climb" %}
    {% elsif post.categories contains 'bike_log' %}
      {% assign activity = "bike" %}
    {% elsif post.categories contains 'hike_log' %}
      {% assign activity = "hike" %}
    {% elsif post.categories contains 'run_log' %}
      {% assign activity = "run" %}
    {% elsif post.categories contains 'ski_log' %}
      {% assign activity = "ski" %}
    {% else %}
      {% assign activity = "" %}
    {% endif %}
    {
      "title": {{ post.title | split: ' | ' | first | jsonify }},
      "url": "{{ site.baseurl }}{{ post.url }}",
      "location": {{ post.location | jsonify }},
      "region": {{ post.region | jsonify }},
      "country": {{ post.country | jsonify }},
      "latitude": {{ post.latitude }},
      "longitude": {{ post.longitude }},
      "activity": "{{ activity }}",
      "date": "{{ post.date | date: '%Y-%m-%d' }}"
    },
    {% endif %}
  {% endfor %}
  ];
  // Remove trailing comma by filtering empty entries
  adventureData = adventureData.filter(function(item) { return item && item.title; });
  </script>
